@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --bcolor--primary: #1982C4;
    --bcolor--secondary: #eeeeee;
    --fcolor-secundary: #999;
    --fcolor-primary: #555;
}

html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    width:100%;
    height: 100vh;
    background-color: #111;
    background-image: url(../imagenes/fondo1.jpeg);
    background-repeat: no-repeat;
    object-fit: fill;
    object-position: center;
    box-shadow: inset 0px -8rem 3rem #111;
    background-position: center center;
}

section{
    position: relative;
}

section > h2
{
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 3rem;
    background-color:#eeeeee;
    padding: .3rem 1.1rem;
    min-width: 100px;
    font-size: 2.1;
    font-weight: 400;
    text-transform: capitalize;
}

section > h2::before
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: .7rem;
    background-color: var(--bcolor--primary);
}

/*Header*/

header{
    position: fixed;
    width:100%;
    height: 90px;
    background-color: #111;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    box-shadow: 0 1px 2px #0009;
}

header #logo{
    height: 100%;
    width:auto;
    display: flex;
    align-items: center;
    margin: 5px 0 5px 2rem;
    background-color: #fff;
    padding: 2px;
}

header #logo img{
    border:1px solid #000;
    width:inherit;
    height: 93%;
    padding: 2px;
}

nav{
    padding: 0;
    margin-right: 2rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap:1rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: .9rem;
    transition:.2s ease-in;
}

nav ul li a:hover{
    color:var(--bcolor--primary);
    font-weight: 700;
    font-size: 1rem;
}

header .tongle{
    display: none;
}

/** Inicio */

main{
    height: 100vh;
    position: absolute;
    bottom: 0;
    width: 100%;
}

main #inicio{
    height: calc(100vh - 90px);
    display:flex;
    width: inherit;
    height: inherit;
}

main #inicio div{
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width:50%;
}

main #inicio .titulo{
    padding: 1.5rem;
    background-color: #1119;
}

main #inicio .titulo h1{
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 3.5rem;
    color:rgb(231, 87, 4);
}

main #inicio .titulo h4{
    margin-top: 1rem;
    font-size: 1.2rem;
    color:#fff;
    font-weight: 400;
}

main #inicio .titulo button{
    background-color: transparent;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
    position:relative;
    width:250px;
}

main #inicio .titulo button a{
    color:#fffc;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform:uppercase;
}

main #inicio .titulo button::before{
    content:'';
    height: 100%;
    width:1%;
    position: absolute;
    left:0;
    top:0;
    background-color: var(--bcolor--primary);
    opacity: .7;
    transition: .3s ease;
}

main #inicio .titulo button:hover > a{
    font-weight: 700;
    color: var(--bcolor--primary)
}

main #inicio .titulo button:hover::before {
    opacity: 1;
    width: 10%;
}

main #inicio div:nth-child(2) .colorbox{
    height: 100%;
    width: 50vw;
    transform-origin: center center;
    background-image: url(../imagenes/IMG-20211113-WA0032.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: contrast(130%);
    box-shadow: inset 13px 13px 15px #1115, inset -13px -13px 15px #1115;
    background-position: center center;
}

main #inicio .globo{
    min-width: 0;
    width:200px;
    height: 200px;
    position: absolute;
    z-index: 200;
    top:-10px;
    right:calc(50% - 100px);
    background-color: rgb(231, 87, 4);
    border-radius: 50%;
    transform-origin: center center;
}

/*metas*/

#metas{
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #111;
    background-image: url(../imagenes/fondo2.jpg);
    object-fit: fill;
    background-repeat: no-repeat;
    background-position: center center;
    top: 90px;
}

#metas .sobre-mi{
    width: 50%;
    height: inherit;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#metas .sobre-mi div{
    background-color:var(--bcolor--secondary);
    margin: .5rem 0;
    padding-left: 1rem;
    padding-bottom: .5rem;
    overflow: hidden;
    transition: ease-in-out .5s;
    box-shadow: 2px 1px 3px var(--fcolor-primary);
}

#metas .sobre-mi div h3{
    color: var(--fcolor-primary);
    font-weight: 400;
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 3px;
    padding: .2rem;
}

#metas .sobre-mi div h3 a{
    text-decoration: none;
    opacity: .9;
    color:var(--fcolor-primary)
}

#metas .sobre-mi div h3::first-letter{
    font-weight: 900;
    color:var(--bcolor--primary);
    font-size: 2rem;
    opacity: 1;
}

#metas .sobre-mi div p{
    color:var(--fcolor-secundary);
    font-weight: normal;
    font-size: .9rem;
    max-height: 0;
    opacity: 0;
    padding: 0 1.5rem;
    overflow-y: scroll;
    transition: max-height .6s, opacity .6s;
}

#metas .sobre-mi div p::-webkit-scrollbar
{
    width:0;
}

#metas .sobre-mi div p.active{
    max-height: 6rem;
    opacity: 1;
}

#metas .animaciones{
    background-color: transparent;
    width: 50%;
    order: 1;
}

#metas .animaciones .animacion{
    width:100%;
    height:100%;
    display:flex;
    align-content: center;
}

/* habilidades*/

#habilidades{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
    padding-top: 90px;
}

#habilidades .video{
    background-color: black;
    height:55vh;
    width:75%;
    display: flex;
    justify-content: center;
}

#habilidades .video iframe{
    height: 100%;
    width:720px;
}

#habilidades .descripcion{
    margin-top: 1rem;
    width: 50%;
    padding: 0 20px;
}

#habilidades .descripcion p{
    text-align: center;
    color: var(--fcolor-primary);
}

/*interactividad*/

#interactividad{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 90px;
}

#interactividad button{
    display: none;
}

#interactividad .videojuego{
    background-color: black;
    width:80%;
}

#interactividad .instrucciones
{
    background-color: var(--bcolor--primary);
    padding:8px;
    width: 20%;
}

#interactividad .videojuego{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interactividad .videojuego iframe{
    height:100%;
    width:100%;
}

#interactividad .instrucciones h4{
    color:rgb(231, 87, 4);
    font-size: 1.5rem;
    text-align: left;
}

#interactividad .instrucciones p{
    color: #FFF;
    text-align: left;
    margin-top: 1rem;
    font-size: .8rem;
}

/* media query*/


@media (max-width:550px){
    body{
        max-width: 100vw;
        overflow:hidden;
    }

    header{
        width:100vw;
        justify-content: space-between;
    }

    header #logo{
        max-height: 80px;
        margin-left:1rem;
    }

    nav{
        display:flex;
        width:100%;
        height: calc(100vh - 90px);
        position:absolute;
        background-color: #333d;
        top:-100vh;
        right:0;
        margin-right: 0;
        margin-top:90px;
        transition: all 500ms ease-in ;
    }

    nav.active{
        top:0;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top:1rem;
        padding: .8rem;
    }

    nav ul li a{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        color:#fff;
    }
    
    nav ul li:hover{
        background-color: #222;
    }

    nav ul li:hover > a{
        font-size: 1.2rem;
        color:var(--bcolor--primary);
    }

    header .tongle{
        display: flex;
        justify-content: center;
        width:2.8rem;
        height: 2.8rem;
        align-items: center;
        background-image: url("../imagenes/bars-solid.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
        margin-right: 1rem;
        object-fit: contain;
    }

    header .tongle.active{
        background-image: url("../imagenes/times-solid.svg");
    }

    main{
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    main h2{
        right: 1rem;
        font-size: 1.2rem;
    }

    main #inicio .globo{
        display: none;
    }

    main #inicio{
        flex-direction: column-reverse;
        top:90px;
        height: calc(100vh - 90px);
        background-repeat: no-repeat;
        object-fit: cover;
    }


    main #inicio div{
        height: auto;
    }

    main #inicio .imagen_principal{
        display: block;
        position: absolute;
        overflow: visible;
        top:10%;
        left:calc(50% - 100px)
    }

    main #inicio div:nth-child(2) .colorbox{
        transform: rotate(0deg) translate(0,0);
        width:200px;
        height:200px;
        position: absolute;
        overflow: visible;
        z-index: 4000;
        background-image: url(../archivos/foto_svg.svg);
        background-repeat: no-repeat;
        object-position: center;
        background-position: 50% 50%;
        background-size: 100%;
        background-color:var(--bcolor--primary);
        border-radius: 50%;
        box-shadow: 0px 0px 10px #111;
        transition: all .5s ease;
    }

    main #inicio div:nth-child(2) .colorbox:hover{
        transform: scale(1.3);
    }

    main #inicio .titulo{
        position: relative;
        z-index: 100;
        padding-top: 200px;
    }

    main #inicio .titulo h1{
        font-size: 2.9rem;
        text-align: center;
    }

    main #inicio .titulo h4{
        font-size: 1rem;
        margin-top: .5rem;
        text-align: center;
    }

    main #inicio .titulo button{
        background-color: var(--bcolor--primary);
        border-radius: 5px;
        padding: .5rem;
        align-self: center;
        
    }
    main #inicio .titulo button a{
        color:#fff;
        font-size: .8rem;
    }

    main #inicio .titulo button::before{
        display: none;
    }

    #metas{
        flex-direction: column-reverse;
        height: calc(100vh - 90px);
        position: relative;
        padding-top: 0;
        top:90px;
    }

    #metas .animaciones{
        height: 100%;
        width:100%;
    }

    #metas .animaciones .animacion{
        display: flex;
        align-content: center;
        height: 100%;
    }

    #metas .animaciones .animacion video{
        width:100%;
        height:100%;
        align-self: center;
    }


    #metas .sobre-mi{
        width:100%;
    }

    #metas .sobre-mi div{
        padding: 0;
    }

    #metas .sobre-mi div h3{
        font-size: 1.2rem;
    }

    #metas .sobre-mi div h3::first-letter{
        font-size: 1.5rem;
    }

    #metas .sobre-mi div p.active{
        max-height: 200px;
        opacity: 1;
        color:var(--fcolor-primary)
    }

    #habilidades{
        padding:90px 0 0 0;
    }

    #habilidades .descripcion{
        width:auto;
    }

    #habilidades .video{
        width:45%;
        height:45%;
    }

    #habilidades .descripcion p{
        font-size: 1rem;
        color: #fff;
    }

    #interactividad{
        height: 100vh;
    }

    #interactividad .instrucciones{
        width:100%;
        height: inherit;
        position: absolute;
        background-color: #ddd7;
        left:-100%;
        transition: left 350ms ease;
        padding: 1rem;
        box-shadow: inset 2px 2px 9px #fff,
                    inset -2px -2px 9px #fff;
    }

    #interactividad .instrucciones.active{
        left: 0;
    }

    #interactividad .videojuego{
        min-width: 100%;
    }

    #interactividad button{
        display: block;
        position: absolute;
        z-index: 3000;
        bottom: 1rem;
        left:15px;
        background-color: var(--bcolor--primary);
        color:#FFF;
        padding: .5rem;
        border:none;
        border-radius: 7px;
        font-weight:lighter;
        text-transform: uppercase;
    }
}


@media (max-width:380px){

    main #inicio .titulo h1{
        font-size: 2rem;
    }

    main #inicio .imagen_principal{
        left: calc(50% - 75px);
    }

    main #inicio div:nth-child(2) .colorbox{
        width:150px;
        height: 150px;
    }
}

@media screen and (max-width:720px) and (orientation:landscape){

    main #inicio{
        justify-content: center;
        margin-top: 2rem;
    }

    main #inicio .titulo h1{
        font-size: 2rem;
        line-height: 1.7rem;
    }
    main #inicio .titulo h4{
        font-size: .9rem;
    }

    main #inicio .globo{
        display: none;
    }
}